@{
    ViewData["Title"] = "ShoppingList";
}
<h1>@ViewData["Title"]</h1>

<p>- Данный проект сделан на ASP.NET по шаблону MVC в рамках предмета "Создание программного обеспечения инфокоммуникационных систем"</p>
<p>- Приложение умеет добавлять\изменять\удалять ваши покупки</p>
<p>- Реализована функция сортировки, фильтрации и пагинации по имени, категории или дате продукта</p>
<p>- Во время первого запуска приложения создасться sqllite база данных, которая связана с приложением через EntityFraemwork</p>
