@{
    ViewData["Title"] = "О приложении";
}
<h1>@ViewData["Title"]</h1>

<p>Данный проект создан с помощью ASP.NET MVC для предмета "Создание программного обеспечения инфокоммуникационных систем"</p>
